body {
  background-color: rgb(211, 211, 211);
  margin: 5%;
  font-family: "Suez One", serif;
  color: rgb(0, 0, 139);
  text-align: right;
  direction: rtl;
  font-weight: normal;
}

h1 {
  font-size: 4em;
  font-weight: normal;
}

h3 {
  display: none;
}

#familyTable {
  display: none;
  border-spacing: 0;
}

#familyTable th {
  border: 1px solid white;
  padding: 10px;
  background-color: rgb(0, 0, 139);
  color: white;
  font-weight: normal;
}

#familyTable td {
  border: 1px solid white;
  padding: 10px;
}

#familyTable tr:nth-child(even) {
  background-color: rgb(255, 255, 255, 0.5);
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  display: none;
}

button {
  background-color: rgb(0, 0, 139);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px; /* Increased font size */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; /* More rounded corners */
  font-family: "Suez One", serif; /* Same font as the document */
}

button:hover {
  background-color: rgb(0, 0, 115);
}
